<ion-side-menus enable-menu-with-back-views="false">

    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <!--<ion-nav-buttons side="left">-->
            <!--<button class="button button-icon button-clear ion-navicon" menu-and-drawer-toggle>-->
            <!--</button>-->
        <!--</ion-nav-buttons>-->
        <!--<ion-nav-buttons side="right">-->
            <!--<button class="button button-icon button-clear ion-ios-search" ui-sref="app.search">-->
            <!--</button>-->
        <!--</ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-pane drawer-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>
    <!--<ion-nav-view name="menuContent"></ion-nav-view>-->
    <!--<div ng-style="fullDim" ng-click="closeDrawer('')" class="transparent-bg floatingFullDiv z-10"-->
         <!--ng-if="showMenu"></div>-->


    <drawer side="left" can-drag="false">
        <!--<div class="top-statusbar"></div>-->
        <div class="list no-margin" ng-if="menu.setting">
            <ion-item class="item-avatar item-icon-right">
                <div class="image-adjust" ng-style="userdetails.myimage"></div>
                <h3>{{userdetails.name}}</h3>
                <p>{{userdetails.email}}</p>
                <i class="icon ln-gear2 small" ui-sref="app.setting" menu-close ng-if="menu.setting"></i>
            </ion-item>
        </div>
        <ion-content ng-class="logso" class="no-header raleway">
            <div class="list menu-set">
                <ion-item nav-clear menu-and-drawer-close class="item item-icon-left font-18" ng-click="closeDrawer()"
                          ui-sref="app.{{menu.link}}({id:menu.typeid,name:menu.name,articleName:menu.articlename})"
                          ui-sref-active="bordered" ng-repeat="menu in menudata|orderBy:order|limitTo:4">
                    <i class="icon {{menu.icon}}"></i>{{menu.name}}
                </ion-item>
                <ion-item ng-if="RSSarray.length!=0" nav-clear menu-and-drawer-close
                          class="item item-icon-left font-18" ng-click="closeDrawer()"
                          ui-sref="app.RSS"
                          ui-sref-active="bordered">
                    <i class="icon ion-clipboard"></i>Breaking News
                </ion-item>

                <ion-item nav-clear menu-and-drawer-close class="item item-icon-left font-18" ng-click="closeDrawer()"
                          ui-sref="app.{{menu.link}}({id:menu.typeid,name:menu.name})"
                          ui-sref-active="bordered" ng-repeat="menu in menudata|orderBy:order" ng-if="$index>3">
                    <i class="icon {{menu.icon}}"></i>{{menu.name}}
                </ion-item>
                <ion-item nav-clear menu-and-drawer-close class="item item-icon-left font-18"
                          ng-click="closeDrawer()" ui-sref="walkthrough"
                          ui-sref-active="bordered">
                    <i class="icon ln-arrow-right2"></i>App Tour
                </ion-item>
                <ion-item nav-clear menu-and-drawer-close class="item item-icon-left item-complex font-18" ng-click="logout()"
                          ui-sref-active="bordered" ng-if="menu.setting">
                    <div class="item-content"><i class="icon ln-arrow-right2"></i>Logout</div>
                </ion-item>
            </div>
        </ion-content>
        <div class="hidden-div z-10 animate-maxwidth zero-maxwidth"
             ng-class="{'full-maxwidth':showMenu}">
            <!--<div class="blur-div"></div>-->
        </div>
    </drawer>

</ion-side-menus>
