<ion-modal-view class="half-dark-bg">
    <ion-header-bar class="bar-positive" align-title="center">
        <h1 class="title">E-commerce</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-android-close" ng-click="closeEcommModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content scroll="false">
            <div class="row">
                <div class="col text-large playfair wooTitle">
                    Shop Title
                </div>
            </div>
            <ion-scroll direction="y" zooming="false" ng-style="wooCategoriesDiv"
                        class="border-bottom-light margin-left-5 margin-right-5 relative">
                <div class="wooCategories">
                    <div class="wooCategory" ng-repeat="category in main_categories" ng-click="closeEcommModal()"
                         ui-sref="app.ecommshop({category:category.name})">
                        <div class="row row-no-padding">
                            <div class="col text-center light wooCategoryImage"
                                 ng-style="{'max-height':wooCommCatThumb+'px','background-image':'url('+category.image.src+')'}">
                            </div>
                        </div>
                        <div class="row wooCategoryTitle">
                            <div class="col text-center light">
                                {{category.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        <ion-scroll direction="x" zooming="false" class="categories-filter relative">
            <div class="row-con margin-bottom-10">
                <div class="col-con ecomm-menu-col" ui-sref="app.ecommhome" ng-click="closeEcommModal()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-home ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row wooCategoryTitle">
                        <div class="col text-center light text">
                            Shop
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col" ui-sref="app.ecommhome" ng-click="closeEcommModal()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-grid ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Categories
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col" ng-click="openCart();closeEcommModal()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-cube ecomm-menu-icons"></i>
                            <!--<span class="badge badge-assertive absolute" ng-if="cartItems.length>0">{{cartItems.length}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Cart
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col" ng-click="closeEcommModal()" ui-sref="app.orders">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-ios-cart ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Orders
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-person ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            My Account
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-con margin-bottom-10">
                <div class="col-con ecomm-menu-col" ui-sref="app.ecommhome" ng-click="closeEcommModal()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-card ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row wooCategoryTitle">
                        <div class="col text-center light text">
                            Payment History
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-ios-location ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Shipping Addresses
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col"
                     ui-sref="app.{{returnPolicy.link}}({id:returnPolicy.typeid,name:returnPolicy.name})"
                     ng-click="closeEcommModal()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-ios-undo ecomm-menu-icons"></i>
                            <!--<span class="badge badge-assertive absolute" ng-if="cartItems.length>0">{{cartItems.length}}</span>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Return Policy
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col" ng-click="callUs24x7()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-android-call ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Call Us
                        </div>
                    </div>
                </div>
                <div class="col-con ecomm-menu-col" ng-click="openOrders()">
                    <div class="row row-no-padding">
                        <div class="col text-center light">
                            <i class="icon ion-information-circled ecomm-menu-icons"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center light text">
                            Customer Service
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-modal-view>