<ion-view hide-nav-bar="true" class="dark-bg">

    <ion-content>
        <div ng-style="login.fullHeight" class=" valign-parent">
            <div class="valign-child">
                <div class="row row-no-padding div-centered-80 margin-bottom-30">
                    <div class="col text-center">
                        <img ng-src="{{headerLogo}}" class="full-image">
                    </div>
                </div>
                <form name="loginForm" novalidate ng-submit="!loginForm.$valid||login.UserSignin()" class="margin-bottom-30">
                    <div ng-style="login.paddingHorizontal">
                        <div ng-style="login.formDiv">
                            <div class="list list-inset margin-0 margin-bottom-0 transparent-bg">
                                <label class="item item-input login-label transparent-bg">
                                    <input class="login-input no-border" type="name" placeholder="Name" name="name"
                                           ng-required="true" ng-model="user.name">
                                </label>

                                <div class="errors-light-bg ">
                                    <p ng-if="loginForm.email.$error.required && submitted">Email is required</p>
                                </div>
                            </div>
                            <div class="list list-inset margin-0 margin-bottom-0 transparent-bg">
                                <label class="item item-input login-label transparent-bg">
                                    <input class="login-input" type="password" placeholder="Password" name="password"
                                           ng-required="true" ng-model="user.password">
                                </label>

                                <div class="errors-light-bg ">
                                    <p ng-if="loginForm.password.$error.required && submitted">Password is required</p>
                                    <p ng-if="login.invalidPasswordError">Invalid Id or Password</p>
                                </div>
                            </div>
                        </div>

                        <div class="  margin-top-30" ng-style="login.forgotDiv">
                            <div class="row row-no-padding ">
                                <div class="col">
                                    <button class="button button-block button-calm text-large">Login
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

                    <div class="row row-no-padding margin-top-15">
                        <div class="col text-center bold light">
                                <span ng-click="login.goToSignup()">New User? Sign Up here.</span>
                        </div>
                    </div>
            </div>
        </div>
    </ion-content>
</ion-view>
