<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-home" ng-click="orders.goToHome()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart" ng-if="!cartItems.length" ng-click="openCart()">
        </button>
        <button class="button button-icon icon ion-android-cart padding-right-10" ng-click="openCart()"
                ng-if="cartItems.length">
            <span class="badge badge-assertive absolute right-0">{{cartItems.length}}</span>
        </button>
    </ion-nav-buttons>
    <ion-nav-title >
        <h1 class="title company-logo article-header-logo">
            <img src="{{headerLogo}}" class="header-logo-image">
        </h1>
    </ion-nav-title>


    <ion-header-bar class="bar-subheader bar-dark" align-title="center">
        <h1 class="title">Order History</h1>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <div class="row" ng-if="orders.allOrders.length==0">
            <div class="col text-center">
                <h3>No orders yet !</h3>
            </div>
        </div>
        <div class="row" ng-if="orders.allOrders.length==0">
            <div class="col text-center">
                <button class="button button-dark round" ui-sref="app.ecommhome">Let's shop</button>
            </div>
        </div>
        <ion-list>
            <ion-item ng-repeat="order in orders.allOrders" class="item item-icon-right"
                      ng-click="orders.showOrderDetail($index)">
                <h2><b>#{{order.id}}</b> &mdash; {{order.created_at | date:'dd/MM/yyyy'}}</h2>
                <p><span ng-bind-html="order.total | currency:format:decimal"></span> &mdash;
                    {{order.line_items.length}} items</p>
                <h2 class="dark"><b>{{order.status}}</b></h2>
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
