<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart" ng-if="!cartItems.length" ng-click="openCart()">
        </button>
        <button class="button button-icon icon ion-android-cart padding-right-10" ng-click="openCart()"
                ng-if="cartItems.length">
            <span class="badge badge-assertive absolute right-0">{{cartItems.length}}</span>
        </button>
    </ion-nav-buttons>
    <ion-nav-title >
        <h1 class="title company-logo article-header-logo">
            <img src="{{headerLogo}}" class="header-logo-image">
        </h1>
    </ion-nav-title>
    <ion-content class="product-page has-custom-footer">
        <ion-slide-box show-pager="true" class="product-slider">
            <ion-slide ng-repeat="image in product.images" on-finish-render="ngRepeatFinished">
                <div class="product-image" ng-style="{'background-image': 'url(' + image.src + ')'}"
                     ng-click="showGallery(product.images,$index)"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="information" ng-if="finishedLoading == true">
            <div class="row">
                <div class="col col-75">
                    <h2 class="title" ng-bind-html="product.name"></h2>
                </div>
                <div class="col text-right">
                    <span class="in-stock" ng-if="product.in_stock == true"
                          ng-click="openStockPopover(product.stock_quantity,$event)">{{in_stock}}</span>
                </div>
            </div>
            <div class="text-center">
                <div class="price-wrapper"><span class="price"><span data-ng-bind-html="currency"></span>{{product.price}}</span>
                </div>
                <div ng-if="product.on_sale == true">
                    <del><span data-ng-bind-html="currency"></span>{{product.regular_price}}</del>
                </div>
            </div>
            <div ng-repeat="attribute in product.attributes">
                <div class="list" ng-if="attribute.variation == true">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{attribute.name}}
                        </div>
                        <!--
                        <select ng-model="attributesList[attribute.name]" ng-change="changeAttribute(attributesList[attribute.name])">
                          <option ng-repeat="option in attribute.options" value="{{option}}">{{option}}</option>
                        </select>
                        -->
                        <select ng-model="attributesList[attribute.name]"
                                ng-options="option for option in attribute.options"
                                ng-init="initAttrs(attribute.name, attribute.options[0])"
                                ng-change="changeAttribute(attributesList[attribute.name])"></select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-small button-stable  cart-btn"
                            ng-click="addToCart(product)">
                        {{add_cart_btn}}
                    </button>
                </div>
                <!--<div class="col text-right">-->
                    <!--<button class="button button-block button-small button-stable buy-btn" ng-click="buy(product)">-->
                        <!--{{buy_btn}}-->
                    <!--</button>-->
                <!--</div>-->
            </div>
        </div>

        <div class="item item-body">
        <span ng-bind-html="product.description"></spanp>
        </div>
        <div class="item item-icon-left product-categories" ng-if="finishedLoading == true">
            <i class="icon ion-ios-pricetags-outline"></i>
            <a ng-repeat="productCategorie in product.categories" ui-sref="app.shop({category:productCategorie.slug})">{{productCategorie.name}}<span
                    ng-if="$index < product.categories.length-1">, </span></a>
        </div>
    </ion-content>
    <ion-footer-bar class="margin-0 padding-0 footer-menu ">
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter">
			<span class="footer-col" ng-repeat="links in footerLinks" ng-click="footerLink(links)">
                <div class="row row-no-padding padding-top-5" >
                    <div class="col ">
                        <i class="icon" ng-class="links.icon"></i>
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5" >
                    <div class="col ">
                        {{links.name}}
                    </div>
                </div>
            </span>
            <span class="footer-col" ng-click="openCart()">
                <div class="row row-no-padding padding-top-5" >
                    <div class="col ">
                        <i class="icon ion-android-cart"></i>
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5" >
                    <div class="col ">
                        Cart
                    </div>
                </div>
            </span>
        </ion-scroll>
    </ion-footer-bar>
</ion-view>