<ion-modal-view>
 <ion-header-bar class="bar-positive" align-title="center">
     <h1 class="title">Settings</h1>
     <div class="buttons">
         <button class="button button-icon icon ion-android-close" ng-click="closeSettingModal()"></button>
     </div>
 </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-click="setEcommMenuStyle(1)" ng-checked="ecommMenuStyle==1">Style 1</ion-checkbox>
            <ion-checkbox ng-click="setEcommMenuStyle(2)" ng-checked="ecommMenuStyle==2">Style 2</ion-checkbox>
            <ion-checkbox ng-click="setEcommMenuStyle(3)" ng-checked="ecommMenuStyle==3">Style 3</ion-checkbox>
            <ion-checkbox ng-click="setEcommMenuStyle(4)" ng-checked="ecommMenuStyle==4">Style 4</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>