<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-home" ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart" ng-if="!cartItems.length" ng-click="openCart()">
        </button>
        <button class="button button-icon icon ion-android-cart padding-right-10" ng-click="openCart()"
                ng-if="cartItems.length">
            <span class="badge badge-assertive absolute right-0">{{cartItems.length}}</span>
        </button>
    </ion-nav-buttons>
    <ion-nav-title >
        <h1 class="title company-logo article-header-logo">
            <img src="{{headerLogo}}" class="header-logo-image">
        </h1>
    </ion-nav-title>
    <ion-header-bar class="bar-subheader bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-icon icon ion-arrow-left-b" ng-click="goToPreviousCategory()"></button>
        </div>
        <h1 class="title">{{category}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-arrow-right-b" ng-click="goToNextCategory()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-custom-footer">
        <ion-slide-box show-pager="false" ng-init="lockSlide()">
            <ion-slide ng-repeat="category in products" ng-style="sliderHeight">
                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="refreshProducts()">
                </ion-refresher>
                <div class="row" ng-if="!loading && category.length <= 0">
                    <div class="col text-center">
                        <h3>{{empty}}</h3>
                    </div>
                </div>
                <div class="products-list" ng-if="category.length > 0">
                    <div class="row row-no-padding margin-0" ng-repeat="product in category track by $index" ng-if="$index % 2 === 0">
                        <div class="product col col-50" ng-init="changePrice(category[$index])">
                            <div class="list card margin-0" ui-sref="app.ecommproduct({id:category[$index].id})">
                                <div class="sale" ng-if="category[$index].on_sale == true">
                                    <div class="sale-badge">
                                        {{sale_text}}
                                    </div>
                                </div>
                                <div class="item item-image"
                                     ng-style="{'background-image':'url({{category[$index].images[0].src}})'}">
                                </div>
                                <div class="item item-text woo-product-title">
                                    <h2 class="light" ng-bind-html="category[$index].name"></h2>
                                    <!--<div class="price-wrapper">-->
                                    <!--<span class="price"><span data-ng-bind-html="currency"></span>{{products[$index].price}}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="product col col-50" ng-if="$index+1 < category.length"
                             ng-init="changePrice(category[$index+1])">
                            <div class="list card margin-0" ui-sref="app.ecommproduct({id:category[$index+1].id})">
                                <div class="sale" ng-if="category[$index+1].on_sale == true">
                                    <div class="sale-badge">
                                        {{sale_text}}
                                    </div>
                                </div>
                                <div class="item item-image"
                                     ng-style="{'background-image':'url({{category[$index+1].images[0].src}})'}">
                                </div>
                                <div class="item item-text woo-product-title">
                                    <h2 class="light" ng-bind-html="category[$index+1].name"></h2>
                                    <!--<div class="price-wrapper">-->
                                    <!--<span class="price"><span data-ng-bind-html="currency"></span>{{products[$index+1].price}}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

        <ion-infinite-scroll
                ng-if="hasMoreProducts"
                immediate-check="false"
                on-infinite="loadMorProducts()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="margin-0 padding-0 footer-menu ">
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter">
			<span class="footer-col" ng-repeat="links in footerLinks"
                  ng-click="footerLink(links)">
                <div class="row row-no-padding padding-top-5">
                    <div class="col ">
                        <i class="icon" ng-class="links.icon"></i>
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5">
                    <div class="col ">
                        {{links.name}}
                    </div>
                </div>
            </span>
            <span class="footer-col" ng-click="openCart()">
                <div class="row row-no-padding padding-top-5">
                    <div class="col ">
                        <i class="icon ion-android-cart"></i>
                    </div>
                </div>
                <div class="row row-no-padding padding-top-5">
                    <div class="col ">
                        Cart
                    </div>
                </div>
            </span>
        </ion-scroll>
    </ion-footer-bar>
</ion-view>