<ion-view hide-nav-bar="true" class="lightgray-bg">
    <!--<ion-header-bar>-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon icon ion-ios-arrow-left" ng-click="thanks.goBack()"></button>-->
        <!--</div>-->
    <!--</ion-header-bar>-->
    <ion-content class="has-header">
        <div class="text-center">
            <img src="img/thumbs.png" width="50%" height="auto">
            <h4>Congratulations!<br>Your order is successful.</h4>
            <p >Your id order is <b>#{{thanks.data.id}}.</b><br>Your total order is <b ng-bind-html="thanks.data.total | currency:format:decimal"></b>.</p>
            <p  ng-if="payment=='paypal'">You have paid this order using PayPal.</p>
            <p  ng-if="payment=='bacs'">Please make a payment to our bank account as soon as possible.</p>
            <p  ng-if="payment=='cod'">Your order is on the way.</p>
        </div>
        <div class="row div-centered-80">
            <div class="col">
                <button class="button button-block button-positive margin-0"
                ui-sref="app.orders">Manage Orders</button>
            </div>
        </div>
        <div class="row div-centered-80">
            <div class="col">
                <button class="button button-block button-balanced margin-0"
                ng-click="thanks.goHome()">Home</button>
            </div>
        </div>
    </ion-content>
</ion-view>
